<section class="about-container">
  <div class="content-wrapper">
    <h1 class="greeting">Hola, soy <span class="highlight">Nicolás Hernán Becco</span></h1>
    <h2 class="role">{{ title }}</h2>
    
    <div class="description-text">
      <p>{{ description }}</p>
      <p>{{ detail }}</p>
    </div>

    <div class="skill-section">
      <h3>Mis Tecnologías Core</h3>
      <div class="skill-grid">
        <div class="skill-tag" *ngFor="let skill of skill">
          <span>{{ skill.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>