<section class="about-container">
  <div class="content-wrapper">
    <h1 class="greeting">{{STRINGS.ABOUT.GREATING}}
      <span class="highlight">Nicolás Hernán Becco</span></h1>
    <h2 class="role">{{ STRINGS.ABOUT.TITLE }}</h2>
    
    <div class="description-text">
      <p>{{ STRINGS.ABOUT.DESCRIPTION }}</p>
      <p>{{ STRINGS.ABOUT.DETAIL }}</p>
    </div>

    <div 
      class="skill-section"
    >
      <h3>
        Mi Stack Tecnológico
      </h3>
      <div 
        class="skill-grid"
      >
      <div 
        class="skill-tag" 
        *ngFor="let skill of STRINGS.ABOUT.SKILL">
        <i [class]="skill.icon"></i>
        <span>
          {{skill.name}}
        </span>
      </div>
      </div>
    </div>
  </div>
</section>