<mat-toolbar color="primary" class="main-header">
  <span class="logo" (click)="scrollTo('about')">BNH</span>
  
  <span class="spacer"></span>

  <div class="nav-menu">
    <button mat-button (click)="scrollTo('about')">Acerca de</button>
    <button mat-button (click)="scrollTo('experience')">Experiencia</button>
    <button mat-button (click)="scrollTo('project')">Proyectos</button>
  </div>
</mat-toolbar>

<main class="main-content">
  
  <section id="about" class="hero main-gradient-bg">
    <div class="profile-info">
      <img 
        src="image/Foto_Becco_Nicolas_Desarrollador_Software.png" 
        alt="Foto de perfil" 
        class="main-profile-img"
        (click)="openProfileImage()">
        
      <h1 class="profile-name">Becco Nicolás Hernán</h1>
      
      <p class="profile-description muted-text">
        Full Stack Developer 🧑‍💻| Mobile Developer 📱| Android 👽| Angular | Software Developer Student 🎓| Professor
      </p>
      
      <div class="social-links">
        <a mat-icon-button href="https://linkedin.com/in/nicolas-becco-3bbb1b60" target="_blank" aria-label="LinkedIn" class="gradient-icon-button">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a mat-icon-button href="https://github.com/nicoHernan" target="_blank" aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a mat-icon-button href="https://instagram.com/nicohernanok" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    
    <app-about></app-about>
  </section>

  <mat-divider></mat-divider>

  <section id="experience">
    <app-experience></app-experience>
  </section>

  <mat-divider></mat-divider>

  <section id="project">
    <app-project></app-project>
  </section>
  
</main>