<div class="project-container">
  <div class="project-card" *ngFor="let project of currentProject">
    
    <h3>{{ project.name }}</h3>
    
    <p class="tech-stack">
      <strong>{{ project.stack }}</strong>
    </p>
    
    <div class="thumbnail-container">
      <img 
      [src]="project.img" 
      [alt]="project.name" 
      class="project-img"
      (click) = "openProjectImage(project.img)"
      title="click para ampliar"
      >
    </div>

    <p class="description">
      {{ project.description }}
    </p>
    
    <div class="project-action">
      <a [href]="project.github" target="_blank" mat-button color="primary">
        Ver en GitHub
      </a>
    </div>
  </div>
</div>