<div class="experience-container">
  <h2 class="section-title">{{STRINGS.EXPERIENCE.TITLE}}</h2>
  <div class="timeline">
    <div
      class="timeline-item" 
      *ngFor="let experience of STRINGS.EXPERIENCE.DETAIL">
      <div class="timeline-marker">
      </div> 
      <div class="timeline-content">
        <div class="header">
        <h3
        class="position">
          {{ experience.POSITION }}
        </h3>
        <span
        class="period">{{ experience.PERIOD }}
        </span>
        </div>
        <h4 class="company">{{ experience.COMPANY }}</h4>
        <p class="description">{{ experience.DESCRIPTION }}</p>
        <ul class="achievements-list">
          <li *ngFor="let achievement of experience.ACHIEVEMENTS">
            {{ achievement }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>